.Tab {
  /* background-color: #343434; */
  padding: 10px 20px 10px 20px;
}

.Title {
  /* color: white; */
  font-size: x-large;
}

.Subtitle {
  color: cornflowerblue;
  font-size: medium;
}


.FlexContainer {
  display: flex;
  padding: 20px 0px 20px 0px;
}

.FlexItemMain {
  flex-grow: 1;
  /* background-color: grey; */
  /* padding: 10px; */
}

.FlexItemDetails {
  width: 400px;
  background-color: lightgray;
  display: block;
  padding: 10px;
}

.ToDoList {

}

.ToDoListItem {
  /* color: white; */
  font-size: large;
  list-style-type: none;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
}

.ToDoItemDetails {
  /* background-color: lightgrey; */
}