.Tab {
  /* background-color: #343434; */
  padding: 10px 200px 10px 20px;
}

.Title {
  /* color: white; */
  font-size: x-large;
}

.Subtitle {
  color: cornflowerblue;
  font-size: medium;
}

.ToDoList {
  padding: 20px 0px 20px 0px;
}

.ToDoListItem {
  /* color: white; */
  font-size: large;
  list-style-type: none;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
}

.ToDoItemDetails {
  background-color: lightgrey;
}